@import "style.css";

.histoire{
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    gap: 60px;
    align-items: center; 
    flex-wrap: wrap; 
    margin: 0 auto;
    max-width: 1440px; 
    padding-top: 50px;
}
  
.histoire-photo{
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 50%; 
}

.histoire-photo img{
    width: 100%; 
    height: auto;
    object-fit: cover;
}

.histoire-texte{
    max-width: 40%; 
    text-align: left;
    font-family: 'Josefin Sans';
    line-height: 1.5;
}

h2{
    margin-bottom: 30px;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
}

p{
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.line3{
    max-width: 90%;
    margin: 50px auto 0 auto;
    background-color: #dbd8d0;
    height: 1px;
    border: none;
    text-align: center;
}

.fondateur{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    flex-wrap: wrap; 
    margin: 0 auto;
    max-width: 1440px; 
    padding-top: 90px;
}

.dechewsky{
    max-width: 40%; 
    text-align: left;
    font-family: 'Josefin Sans';
    line-height: 1.5;
    margin-left: 35px;
}

.dechewsky-photo{
    display: flex;
    max-width: 50%;
    margin-left: auto;
}

.dechewsky-photo img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .histoire {
        flex-direction: column;
        gap: 20px; 
        padding-top: 30px;
    }

    .fondateur{
        flex-direction: column;
        gap: 20px; 
        padding-top: 50px; 
    }


    .histoire-photo, .dechewsky-photo {
        max-width: 100%;
        margin-left: 0; 
    }

    .histoire-texte, .dechewsky {
        max-width: 100%;
        margin-left: 0; 
        text-align: left;
    }

    h2 {
        font-size: 24px; 
        text-align: left;
        margin-bottom: 15px;
    }

    p {
        font-size: 18px; 
    }

    .line3 {
        margin-top: 30px;
    }
}
