@import "style.css";

.histoire{
   display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    margin: 0 auto;
    max-width: 1440px; 
    padding-top: 90px;
}
  
.histoire-photo{
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 50%; 
}

.histoire-photo img{
     width: 100%; 
    height: auto;
    object-fit: cover;
}

.histoire-texte{
    max-width: 45%; 
    text-align: left;
    font-family: 'Josefin Sans';
}

h2{
    margin-bottom: 30px;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
}

p{
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.line3{
    max-width: 1346px;
    margin: 0 auto 0 auto;
    background-color: #dbd8d0;
    height: 1px;
    border: none;
    text-align: center;
}

.fondateur{
    height: 700px;
    display: flex;
    align-items: center;
    gap: 160px;
    margin-left: 60px;
}

.dechewsky{
    flex-direction: column;;
}

.dechewsky-photo{
    display: flex;
    flex-direction: column;
}

.dechewsky-photo img{
    width: 728px;
    height: 540px;
}
